<!DOCTYPE html>
<html>
  <head>
    <title>Spotify-Jukebox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'site', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
  </head>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
      <div class="flash">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
      <%= yield %>
  </body>
</html>
